.SliderItem {
    border: 1px solid #fff;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    width: 300px;
    padding: 20px;
}

.SliderItemImg img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.SliderItemTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.SliderItemDate {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}